<h4 class="text-center">Login</h4>

<div class="mb-3">
    <form class="form mt-4" (ngSubmit)="login()" #loginForm="ngForm">
        <div class="mb-3">
            <input class="form-control" placeholder="Nome do usuário" name="usuario" [(ngModel)]="usuario" #campoUsuario="ngModel" required/>
            <app-mensagem mensagem="Campo usuário obrigatório" *ngIf="campoUsuario.invalid && campoUsuario.touched"></app-mensagem>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" placeholder="Senha" name="senha" [(ngModel)]="senha" #campoSenha="ngModel" required />
            <app-mensagem mensagem="Campo senha obrigatório" *ngIf="campoSenha.invalid && campoSenha.touched"></app-mensagem>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
        </div>
    </form>
</div>

<p>Não possui cadastro?
    <a [routerLink]="['novousuario']">
        Cadastre-se
    </a>
</p>