<h4 class="text-center">Registre-se e mostre seu pet ao mundo!</h4>

<div class="mb-3">
    <form class="form mt-4" [formGroup]="novoUsuarioForm" (ngSubmit)="cadastrar()" >
        <div class="mb-3">
            <input class="form-control" placeholder="E-mail" formControlName="email" />
            <app-mensagem mensagem="Email obrigatório" *ngIf="novoUsuarioForm.get('email')?.errors?.required &&
             novoUsuarioForm.get('email')?.touched"></app-mensagem>
             <app-mensagem mensagem="Email no formato incorreto" *ngIf="novoUsuarioForm.get('email')?.errors?.email &&
             novoUsuarioForm.get('email')?.touched"></app-mensagem>
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="Nome completo" formControlName="fullName" />
            <app-mensagem mensagem="Quantidade de caracteres incorretos" *ngIf="novoUsuarioForm.get('fullName')?.errors &&
            novoUsuarioForm.get('fullName')?.touched"></app-mensagem>
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="Usuário" formControlName="userName" />
            <app-mensagem mensagem="Usuário deve ser em letras minúsculas" *ngIf="novoUsuarioForm.get('userName')?.errors?.minusculo"></app-mensagem>
            <app-mensagem mensagem="Campo usuário obrigatório" *ngIf="novoUsuarioForm.get('userName')?.errors?.required && novoUsuarioForm.get('userName')?.touched"></app-mensagem>
            <app-mensagem mensagem="Usuário já existe" *ngIf="novoUsuarioForm.get('userName')?.errors?.usuarioExistente"></app-mensagem>
            
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" placeholder="Senha" formControlName="password" />
            <app-mensagem mensagem="Senha deve ser diferente do usuário" *ngIf="novoUsuarioForm.errors?.senhaIgualUsuario"></app-mensagem>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
    </form>
</div>

<p>
    Já possui cadastro? 
    <a [routerLink]="['']">
        Entrar
    </a>
</p>